

.game-info-container{
  background-color: gray;
  color: #DDD;
  height: 80px;
  margin: 0 0 10px 0;
  display: block;
}

.section{
  width: 25%;
  text-align: center;
  float: left;
  top: 10px;
  position: relative;
  display: inline-block;
}

.section div{
  font-weight: bold;
  color: white;
  display: inline;
}

.form-container{
  margin: 0 auto;
  text-align: center;
}

.grid-container{
  margin: 0 auto;
  width: 80%;
}


.card{
  transition: all 0.5s;
  transform: rotateY(180deg);
  height: 60px;
  margin: 1%;
  background-color: lightyellow;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
}

.name{
  font-size: large;
  text-align: center;
  transition: all 0.5s;
  transform: translateY(60%) rotateY(180deg);
  backface-visibility: hidden;
}

.revealed{
  transform: rotateY(0deg);  
}

.revealed .name{
  transform: translateY(60%) rotateY(0deg);  
}

.correct{
  background-color: lime;
  border-color: darkgreen;
}
